---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<functionId>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"nigg"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Hate Speech","labelId":"label_7uer3vwnlxc0ib0p","confidence":0.8225205693759507}'
  recorded_at: Fri, 02 Dec 2022 07:47:23 GMT
recorded_with: VCR 6.1.0
