---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/d41oe9tfzkiq44yv/invoke
    body:
      encoding: UTF-8
      string: '{"data":"nigg"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Hate Speech","labelId":"label_7uer3vwnlxc0ib0p","confidence":0.5170271179347364}'
  recorded_at: Sun, 04 Dec 2022 03:53:42 GMT
recorded_with: VCR 6.1.0
