---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Est eos molestiae non."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_qhgwk715xapwes32","confidence":0.7104849060960448}'
  recorded_at: Thu, 08 Dec 2022 01:43:32 GMT
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Est eos molestiae non."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_qhgwk715xapwes32","confidence":0.7104849060960448}'
  recorded_at: Thu, 08 Dec 2022 01:43:32 GMT
recorded_with: VCR 6.1.0
