---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<functionId>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"I hate immigrants"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_qhgwk715xapwes32","confidence":0.5073011977066686}'
  recorded_at: Sat, 03 Dec 2022 20:40:19 GMT
recorded_with: VCR 6.1.0
