---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Aut illo placeat quos."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invoke limit for free plan exceeded; please upgrade your
        plan"}'
  recorded_at: Thu, 08 Dec 2022 23:57:32 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Aut illo placeat quos."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 22,
                  "score": {
                    "value": 0.0012209293,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.0012209293,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Thu, 08 Dec 2022 23:57:35 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Blanditiis qui non provident."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 29,
                  "score": {
                    "value": 0.0014059186,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.0014059186,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Thu, 08 Dec 2022 23:57:36 GMT
recorded_with: VCR 6.1.0
