---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Eveniet deleniti veniam aut."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Hate Speech","labelId":"label_w6rsaagh57vdq4c4","confidence":0.716490719524069}'
  recorded_at: Thu, 15 Dec 2022 17:47:30 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Mollitia error aspernatur molestiae."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 36,
                  "score": {
                    "value": 0.008509507,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.008509507,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Thu, 15 Dec 2022 17:47:30 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Rem et sapiente dolores."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 24,
                  "score": {
                    "value": 0.00052721944,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.00052721944,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Thu, 15 Dec 2022 18:00:53 GMT
recorded_with: VCR 6.1.0
