---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"A beginning is the time for taking the most delicate care
        that the balances are correct."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9769765152225198}'
  recorded_at: Thu, 15 Dec 2022 17:33:19 GMT
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"A beginning is the time for taking the most delicate
        care that the balances are correct."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 88,
                  "score": {
                    "value": 0.001951637,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.001951637,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "en"
          ]
        }
  recorded_at: Thu, 15 Dec 2022 17:33:20 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"A beginning is the time for taking the most delicate
        care that the balances are correct."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 88,
                  "score": {
                    "value": 0.001951637,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.001951637,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "en"
          ]
        }
  recorded_at: Thu, 15 Dec 2022 17:33:23 GMT
recorded_with: VCR 6.1.0
