---
http_interactions:
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Similique et nobis laudantium."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 30,
                  "score": {
                    "value": 0.0005225947,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.0005225947,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Tue, 13 Dec 2022 22:23:50 GMT
[...]
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Temporibus qui omnis optio."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 27,
                  "score": {
                    "value": 0.00030985705,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.00030985705,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Tue, 13 Dec 2022 22:23:51 GMT
recorded_with: VCR 6.1.0
