---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Numquam inventore nemo omnis."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9999940063659537}'
  recorded_at: Sat, 10 Dec 2022 00:11:32 GMT
[...]
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Exercitationem ullam id necessitatibus."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9998999227656588}'
  recorded_at: Sat, 10 Dec 2022 00:11:33 GMT
recorded_with: VCR 6.1.0
