---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Minima non impedit pariatur."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9999999723701333}'
  recorded_at: Sat, 10 Dec 2022 00:11:30 GMT
[...]
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Asperiores et molestiae repellendus."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9758144439341407}'
  recorded_at: Sat, 10 Dec 2022 00:11:31 GMT
recorded_with: VCR 6.1.0
