---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Magni dignissimos quasi voluptas."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9998501461762118}'
  recorded_at: Thu, 15 Dec 2022 16:27:43 GMT
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=<PERSPECTIVE_KEY>
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Magni dignissimos quasi voluptas."},"languages":["en"],"requestedAttributes":{"IDENTITY_ATTACK":{}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "IDENTITY_ATTACK": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 33,
                  "score": {
                    "value": 0.0010914368,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.0010914368,
                "type": "PROBABILITY"
              }
            }
          },
          "languages": [
            "en"
          ],
          "detectedLanguages": [
            "la"
          ]
        }
  recorded_at: Thu, 15 Dec 2022 16:27:43 GMT
[...]
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Enim rerum voluptatem aliquid."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9764575643254693}'
  recorded_at: Thu, 15 Dec 2022 18:00:55 GMT
recorded_with: VCR 6.1.0
