---
http_interactions:
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Laboriosam aperiam dolores omnis."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.8495543358386345}'
  recorded_at: Thu, 15 Dec 2022 16:27:15 GMT
[...]
- request:
    method: post
    uri: https://www.nyckel.com/v1/functions/<MODERATION_ID>/invoke
    body:
      encoding: UTF-8
      string: '{"data":"Repellat omnis soluta nihil."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"labelName":"Safe","labelId":"label_enceud4t4ul1w89f","confidence":0.9999434676404314}'
  recorded_at: Thu, 15 Dec 2022 16:27:18 GMT
recorded_with: VCR 6.1.0
